$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Playfair Display', serif;

$bg-dark: #121212;
$text-color: #ffffffda;
$accent-color: #bb86fc;
$green-tint: rgba(130, 255, 130, 0.753);
$box-shadow-accent: #7d52b1a6;

html {
  font-family: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,*::before,*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: $primary-font;
  background-color: $bg-dark;
  color: $text-color;
}

img {
  display: block;
}

a,button {
  font-family: inherit;
}

a {
  color: $text-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  min-height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;

  @media (max-width: 600px) {
    width: 80%;
  }
}

.scroll-tracker {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: $accent-color;
  background: linear-gradient(right, $accent-color, $green-tint);
}

.date {
  font-size: 0.85rem;
}

.title {
  font-family: $secondary-font;
  font-size: clamp(2rem, 3vw, 2.5rem);
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  blockquote {
    align-self: center;
    width: 85%;
    padding-left: 1rem;
    font-size: 0.9rem;
    border-left: 5px solid $accent-color;
    transform: translateX(-1rem);
    margin: 1.5rem 0;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  
  &>* {
    flex-basis: 100%;
  }
  
  article {
    box-shadow: 0 0 1rem #000, inset 2px 2px 5px $box-shadow-accent;
    padding: 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }
}